<% content_for(:page_title) { "最近投稿された写真" } %>
<% content_for(:page_summary) { "タックスボックスの中身を投稿しよう！タグを付ければ同じ製品を使っている人を見つけやすくなります！" } %>

<div class="container pt-8">
  <div class="flex flex-wrap">
    <% @tackles.each do |tackle| %>
    <div class="w-1/3 md:w-1/6">
      <a href="<%= tackle_path(tackle) %>">
        <div class="square-image">
          <img src="<%= tackle.photo.url %>" alt="">
        </div>
      </a>
    </div>
    <% end %>
  </div>
</div>

<%= render partial: 'shared/add_tackle' %>