<% if buoys.any? %>
<div class="container">
  <ul itemscope itemtype='//schema.org/BreadcrumbList' class='breadcrumb'>
    <% buoys.each.with_index(1) do |link, i| %>
      <li itemprop='itemListElement' itemscope itemtype='//schema.org/ListItem' class="breadcrumb-item">
        <%= link_to link.url, link.options, itemprop: :item do %>
          <span itemprop='name'><%= link.text %></span>
          <meta itemprop='position' content='<%= i %>' />
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<% end %>